body {
    text-align: center;
    background-color: beige;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}

header {
    font-size: 30px;
}

nav {

}

header .nav-trips .container ul {
    list-style-type: none;
}

header span {
    text-decoration: underline;
    cursor: pointer;
    padding: 10px;
}

p {
    text-align: justify;
    text-indent: 50px;
}

#home-page {

}

#home-page h1 {
    font-size: 80px;
    font-family: cursive;
    padding-top: 20px;
}

#home-page p {
    font-size: 25px;
}

#about-page {

}

#about-page h1 {
    font-size: 50px;
    padding-top: 20px;
}
#about-page p {
    font-size: 25px;
}

#tips-tricks-page {

}

#tips-tricks-page h1 {
    font-size: 50px;
    padding-top: 20px;
}

#past-trips-page h1 {
    font-size: 50px;
    padding-top: 20px;
}

.blog-post-box {
    background-color: lightblue;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 20px;
    cursor: pointer;
}

.blog-post-box h2 {
    font-size: 25px;
    text-align: left;
}

.blog-post-box h3 {
    font-size: 16px;
    text-align: right;
}

.blog-post-box p {
    font-size: 20px;
}

.blog-page {

}

.blog-page h2 {
    font-size: 50px;
}

.blog-page p {
    font-size: 25px;
}

#future-trips-page {

}

#future-trips-page h1 {
    font-size: 50px;
    padding-top: 20px;
}

#future-trips-page p {
    font-size: 25px;
}

#contact-page h1 {
    font-size: 50px;
    padding-top: 20px;
}

#contact-page p {
    font-size: 25px;
    text-align: center;
}

footer {
    font-size: 30px;
    text-align: right;
}