body {
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: beige;
    color: black;
}

header {
    font-size: 30px;
}

nav {
}

header .nav-trips .container {

}

header .nav-trips .container ul {
    list-style-type: none;
}

header span {
    text-decoration: underline;
    margin: 10px;
    cursor: pointer;
}

p {
    text-align: justify;
    text-indent: 50px;
}

#home-page {

}

#home-page h1 {
    font-size: 80px;
    font-family: cursive;
}

#home-page p {
    font-size: 25px;
}

#about-page {

}

#about-page h1 {
    font-size: 50px;
}
#about-page p {
    font-size: 25px;
}

#tips-tricks-page {

}

#tips-tricks-page h1 {
    font-size: 50px;
}

#tips-tricks-page p {
    font-size: 25px;
}

#trips-page h1 {
    font-size: 50px;
}
#trips-page p {
    font-size: 25px;
}
#contact-page h1 {
    font-size: 50px;
}
#contact-page p {
    font-size: 25px;
    text-align: center;
}

footer {
    font-size: 30px;
    text-align: right;
}